src/main/mule/trains-customer-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd ">
    <apikit:config name="trains-customer-sapi-config" api="resource::18214c51-423a-4c66-aa63-4bb1f9c554f7:trains-customer-sapi:1.0.3:raml:zip:trains-customer-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="trains-customer-sapi-main">
		<http:listener config-ref="trains-customer-sapi-httpListenerConfig" path="/api/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
		<apikit:router config-ref="trains-customer-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="trains-customer-sapi-console">
        <http:listener config-ref="trains-customer-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="trains-customer-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\users\user\(userId)\subscriptions\subscriber\(subscriptionId):application\json:trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="48213443-a9d1-422a-b414-69054775cb9d" name="updateSubscription"/>
    </flow>
    <flow name="delete:\users\user\(userId)\subscriptions\subscriber\(subscriptionId):trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="3b9b900c-413b-4111-9476-d940aec4a511" name="deleteSubscription"/>
    </flow>
    <flow name="delete:\users\user\(userId):trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="8790caf2-1609-420d-b884-803d731fd5e1" name="deleteUserById"/>
    </flow>
    <flow name="patch:\users\user\(userId):application\json:trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="69c1aeb6-0d8e-43bf-9d36-ee11c674953b" name="updateUserById"/>
    </flow>
    <flow name="get:\users\user\(userId)\notifications:trains-customer-sapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    notificationId: "6318",
    userId: "jh566f",
    subscriptionId: "45",
    sourceStation: "Liverpool",
    destinationStation: "Cambridge",
    trainName: "National trian-2465",
    actualTime: "2016-02-28T16:41:41.090Z",
    estimatedTime: "2016-02-28T17:41:41.090Z"
  }, 
  {
    notificationId: "6319",
    userId: "jh566f",
    subscriptionId: "45",
    sourceStation: "Liverpool",
    destinationStation: "Cambridge",
    trainName: "National trian-2465",
    actualTime: "2016-02-28T16:41:41.090Z",
    estimatedTime: "2016-02-28T17:41:41.090Z"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\user\(userId)\subscriptions\subscriber\(subscriptionId):trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="befb3e7d-7108-4d0b-9e69-dd99148cc613" name="getUserSubscription"/>
    </flow>
    <flow name="get:\users\subscriptions:trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="4cd9127f-53c7-462f-ac04-db8e3450e7ae" name="getAllSubscriptions"/>
    </flow>
    <flow name="get:\users\user\(userId)\subscriptions:trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="c5f14054-1bdc-4850-bb92-b5c2a1a9ca9d" name="getAllSubscriptionsByUser"/>
    </flow>
    <flow name="get:\users\user\(userId):trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="9c4e687b-3a55-4e36-9289-0d68fa334b5c" name="getUserbyId"/>
    </flow>
    <flow name="get:\users:trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="fa9effc9-57c5-4904-a2e4-47b37e14d93b" name="getAllUsers"/>
    </flow>
    <flow name="get:\users\user\(userId)\notifications\(notificationsId):trains-customer-sapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
                <ee:set-variable variableName="notificationsId">attributes.uriParams.'notificationsId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  notificationId: "6318",
  userId: "jh566f",
  subscriptionId: "45",
  sourceStation: "Liverpool",
  destinationStation: "Cambridge",
  trainName: "National trian-2465",
  actualTime: "2016-02-28T16:41:41.090Z",
  estimatedTime: "2016-02-28T17:41:41.090Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\users\registrations:application\json:trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="a0fbffd1-ec80-434a-b198-0cd1685d244f" name="createUser"/>
    </flow>
    <flow name="post:\users\user\(userId)\subscriptions\subscribe:application\json:trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="d7aad37c-0681-4e0b-81e5-60ffc41de93c" name="createSubscription"/>
    </flow>
</mule>
