src/main/mule/trains-customer-sapi.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
  
    <apikit:config name="trains-customer-sapi-config" api="resource::18214c51-423a-4c66-aa63-4bb1f9c554f7:trains-customer-sapi:1.0.2:raml:zip:trains-customer-sapi.raml" outboundHeadersMapName="outboundHeaders" httpStatusVarName="httpStatus" />
    <flow name="trains-customer-sapi-main">
        <http:listener doc:name="Listener" doc:id="60ebcd23-10a3-4b4a-b4c5-43387e1cd6f1" config-ref="trains-customer-sapi-httpListenerConfig" path="/api/*"/>
		<apikit:router config-ref="trains-customer-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:BAD_REQUEST">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Bad request"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">400</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:METHOD_NOT_ALLOWED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Method not allowed"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">405</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_ACCEPTABLE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not acceptable"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">406</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:UNSUPPORTED_MEDIA_TYPE">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Unsupported media type"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">415</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
            <on-error-propagate type="APIKIT:NOT_IMPLEMENTED">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Not Implemented"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">501</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="trains-customer-sapi-console">
        <http:listener config-ref="trains-customer-sapi-httpListenerConfig" path="/console/*">
            <http:response statusCode="#[vars.httpStatus default 200]">
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:response>
            <http:error-response statusCode="#[vars.httpStatus default 500]">
                <http:body>#[payload]</http:body>
                <http:headers>#[vars.outboundHeaders default {}]</http:headers>
            </http:error-response>
        </http:listener>
        <apikit:console config-ref="trains-customer-sapi-config" />
        <error-handler>
            <on-error-propagate type="APIKIT:NOT_FOUND">
                <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{message: "Resource not found"}]]></ee:set-payload>
                    </ee:message>
                    <ee:variables>
                        <ee:set-variable variableName="httpStatus">404</ee:set-variable>
                    </ee:variables>
                </ee:transform>
            </on-error-propagate>
        </error-handler>
    </flow>
    <flow name="put:\users\user\(userId)\subscriptions\subscriber\(subscriptionID):application\json:trains-customer-sapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
                <ee:set-variable variableName="subscriptionID">attributes.uriParams.'subscriptionID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "updated successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="#[message.attributes.uriParams]" doc:name="userID" doc:id="58c46055-46b2-43d5-8bd2-02c9e5ca6b35" variableName="userid"/>
    </flow>
    <flow name="delete:\users\user\(userId)\subscriptions\subscriber\(subscriptionID):trains-customer-sapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
                <ee:set-variable variableName="subscriptionID">attributes.uriParams.'subscriptionID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "unsubscribed successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
		<set-variable value="#[message.attributes.uriParams]" doc:name="UserID" doc:id="40336485-d7ec-4f96-ad02-7e2e4308d238" variableName="userid"/>
    </flow>
    <flow name="delete:\users\user\(userId):trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="361a280f-9b52-457d-a3af-868dabc150e0" name="deleteUserById"/>
    </flow>
    <flow name="patch:\users\user\(userId):application\json:trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="7cef5b19-e4f1-404e-998d-b08ebca2d594" name="updateUserById"/>
    </flow>
    <flow name="get:\users\user\(userId)\notifications:trains-customer-sapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    notificationId: "6318",
    sourceStation: "Liverpool",
    destinationStation: "Cambridge",
    trainName: "National trian-2465",
    actualTime: "2016-02-28T16:41:41.090Z",
    estimatedTime: "2016-02-28T17:41:41.090Z"
  }, 
  {
    notificationId: "6319",
    sourceStation: "Liverpool",
    destinationStation: "Cambridge",
    trainName: "National trian-2465",
    actualTime: "2016-02-28T16:41:41.090Z",
    estimatedTime: "2016-02-28T17:41:41.090Z"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\user\(userId)\subscriptions\subscriber\(subscriptionID):trains-customer-sapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
                <ee:set-variable variableName="subscriptionID">attributes.uriParams.'subscriptionID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  subscription: "1254",
  customerId: "12",
  source: "cambridge",
  destination: "Liverpool",
  sourceTime: "2016-02-28T12:41:41.090Z",
  destinationTime: "2016-02-28T16:41:41.090Z",
  remainderTime: "00:30:00"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\subscriptions:trains-customer-sapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    subscription: "1254",
    customerId: "12",
    source: "cambridge",
    destination: "Liverpool",
    sourceTime: "2016-02-28T12:41:41.090Z",
    destinationTime: "2016-02-28T16:41:41.090Z",
    remainderTime: "00:30:00"
  }, 
  {
    subscription: "1254",
    customerId: "12",
    source: "cambridge",
    destination: "Liverpool",
    sourceTime: "2016-02-28T12:41:41.090Z",
    destinationTime: "2016-02-28T16:41:41.090Z",
    remainderTime: "00:30:00"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\user\(userId)\subscriptions:trains-customer-sapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
  {
    subscription: "1254",
    customerId: "12",
    source: "cambridge",
    destination: "Liverpool",
    sourceTime: "2016-02-28T12:41:41.090Z",
    destinationTime: "2016-02-28T16:41:41.090Z",
    remainderTime: "00:30:00"
  }, 
  {
    subscription: "1254",
    customerId: "12",
    source: "cambridge",
    destination: "Liverpool",
    sourceTime: "2016-02-28T12:41:41.090Z",
    destinationTime: "2016-02-28T16:41:41.090Z",
    remainderTime: "00:30:00"
  }
]]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="get:\users\user\(userId):trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="af2a36f2-557a-454c-89ee-d4a1fc7cd342" name="getUserbyId"/>
		<ee:transform doc:name="Transform Message" doc:id="e0562f25-9d9d-43d7-9627-9a57814a2f01" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	userId: payload.userId,
	firstName: payload.firstName,
	lastName: payload.lastName,
	phone: payload.phone,
	emailId: payload.email
	
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
    </flow>
    <flow name="get:\users:trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="365b69cd-31f4-4f02-a231-66b3f2177b38" name="getAllUsers"/>
    </flow>
    <flow name="get:\users\user\(userId)\notifications\(notificationsID):trains-customer-sapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
                <ee:set-variable variableName="notificationsID">attributes.uriParams.'notificationsID'</ee:set-variable>
            </ee:variables>
        </ee:transform>
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  notificationId: "6318",
  sourceStation: "Liverpool",
  destinationStation: "Cambridge",
  trainName: "National trian-2465",
  actualTime: "2016-02-28T16:41:41.090Z",
  estimatedTime: "2016-02-28T17:41:41.090Z"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
    <flow name="post:\users\registrations:application\json:trains-customer-sapi-config">
		<flow-ref doc:name="Flow Reference" doc:id="fce4c14b-b385-4440-91a8-4161fe8d122b" name="createUser"/>
    </flow>
    <flow name="post:\users\user\(userId)\subscriptions\subscribe:application\json:trains-customer-sapi-config">
        <ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core">
            <ee:variables>
                <ee:set-variable variableName="userId">attributes.uriParams.'userId'</ee:set-variable>
            </ee:variables>
        </ee:transform>
		<ee:transform xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
  message: "subscribed successfully"
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
    </flow>
</mule>
